<a href="https://colab.research.google.com/github/amltago/cocoaimport/blob/main/CocoaImportation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Global Import of Cocoa Beans

In [1]:
# Mounting drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Importing libraries

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
# Loading dataset

filename = '/content/drive/MyDrive/Coding Dojo/Files/Global import of cocoa beans.xlsx'
ccoa = pd.read_excel(filename)
ccoa.head()

           Region    Year  Import in tonnes
0  Asia & Oceania  2015.0          565000.0
1  Asia & Oceania  2016.0          592000.0
2  Asia & Oceania  2017.0          866000.0
3  Asia & Oceania  2018.0          927000.0
4  Asia & Oceania  2019.0          924000.0

In [4]:
# Checking information of dataframe

ccoa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            15 non-null     object
 1   Year              15 non-null     float64
 2   Import in tonnes  15 non-null     float64
dtypes: float64(2), object(1)
memory usage: 488.0+ bytes

In [5]:
# Checking for duplicates

dup = ccoa.duplicated().sum()
print("Duplicates", dup)

Duplicates 0

In [6]:
# Checking for null/NA

ccoa.isna().sum()

Region              0
Year                0
Import in tonnes    0
dtype: int64

In [8]:
rg = ccoa['Region']
rgv = rg.value_counts()
rgv

Asia & Oceania    5
Europe            5
Americas          5
Name: Region, dtype: int64

In [9]:
# Filtering Year

yr = ccoa['Year']
yrv = yr.value_counts()
yrv

2015.0    3
2016.0    3
2017.0    3
2018.0    3
2019.0    3
Name: Year, dtype: int64

In [10]:
# Filtering Import

imp = ccoa['Import in tonnes']
impv = imp.value_counts()
impv

592000.0     2
565000.0     1
866000.0     1
927000.0     1
924000.0     1
1997000.0    1
2219000.0    1
2444000.0    1
2554000.0    1
2500000.0    1
586000.0     1
651000.0     1
621000.0     1
549000.0     1
Name: Import in tonnes, dtype: int64

In [17]:
ccoa.groupby(['Year'])[['Import in tonnes']].sum()

        Import in tonnes
Year
2015.0         3154000.0
2016.0         3397000.0
2017.0         3961000.0
2018.0         4102000.0
2019.0         3973000.0